* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a:link {
    text-decoration: none;
}

a {
    color: #F9FAF8;
}

.sectionone {
    padding: 10px 120px 80px 120px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: row;
    color: #F9FAF8;
    gap: 18px;
}

#headerlogo {
    font-size: 24px;
    flex-grow: 3;
}

#hero {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

#herosecondary {
    font-size: 18px;
    color: #E5E7EB;
}

.text-image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 340px;
    padding-bottom: 60px;
}

.image-container{
    display: flex;
    background-color: grey;
    width: 480px;
    height: 270px;
    min-width: 480px;
}

img {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.sectiontwo {
    display: flex;
    flex-direction: column;
    padding: 60px 80px 60px 80px;
    gap: 60px;
}

.infotitle {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
}

.boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 769px){
    .boxes{ gap: 100px; }
  }
  
  @media only screen and (max-width: 560px){
    .boxes{ 
            flex-direction: column;
            max-height: 655px;
    }
  }

.box {
    border-radius: 25px;
    border: 4px solid #3882F6;
    padding: 20px;
    width: 100px;
    height: 100px;
}

.information {
    text-align: center;
    width: 148px;
}

.item {
    display: flex;
    flex-direction: column;
}

.sectionthree {
    display: flex;
    flex-direction: column;
    padding: 60px 80px 60px 80px;
    background-color: #E5E7EB;
}

#quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
}

#username {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.sectionfour {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 60px;
    background-color: #3882F6;
    color: white;
    border-radius: 25px;
    padding: 60px 12px 60px 12px;
    margin: 120px;
    min-width: 415px;
}

.actionbutton {
    flex-shrink: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #1F2937;
    color: white;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #3882F6;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 36px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  max-width: 120px;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

#actionbutton {
    box-shadow: none;
    border: 2px solid white;
}

